@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  background-color: #f3f6fd;
}
.app {
  display: flex;
  gap: 4%;
}
.panel {
  background-color: #fff;
  padding: 30px;
  min-height: 100svh;
}
.logo {
  margin-bottom: 50px;
}

.menu__list,
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__item,
.menu__add {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease 0s;
}
.menu__item:hover {
  background: #6a6afb;
}
.menu__item:hover img,
.menu__item_active img {
  filter: brightness(0) invert(1);
}
.menu__item_active {
  background: #5051f9;
}

.menu__add {
  border: 1px solid #cad5ff;
}
.menu__add:hover {
  background: #eff2ff;
}
.content {
  width: 100%;
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 30px;
  line-height: 33px;
  color: #000;
}
.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}
.progress__text {
  display: flex;
  justify-content: space-between;
}
.progress__name {
  color: #232360;
}
.progress__percent {
  font-size: 12px;
  line-height: 13px;
  color: #768396;
}
.progress__bar {
  width: 100%;
  background: #e6e9ed;
  border-radius: 4px;
  height: 5px;
  position: relative;
}
.progress__cover-bar {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  height: 5px;
  background-color: #5051f9;
  border-radius: 4px;
}
.main {
  padding-top: 30px;
}
/* .main__wrapper {
} */
.habit {
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.habit__day {
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  padding: 20px 25px;
  min-width: 5%;
  flex-shrink: 0;
  align-self: stretch;
  text-align: center;
}
.habit__comment {
  padding: 20px 25px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}
.habit__delete {
  margin-left: auto;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease 0s;
  padding: 2px;
}
.habit__delete:hover {
  background: #e7ebfb;
}
.habit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0 10px 0 25px;
  position: relative;
}
.input {
  background: #fff;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  padding: 12px 20px 12px 40px;
  font-family: "Comfortaa", cursive;
  width: 100%;
}
.input::placeholder {
  color: #8899a8;
}
.comment-img {
  position: absolute;
  top: 10px;
  left: 40px;
}
.add-comment {
  margin-left: auto;
  border-radius: 9px;
  background: #edecfe;
  color: #5051f9;
  font-size: 13px;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease 0s;
  padding: 14px 32px;
  cursor: pointer;
}
.add-comment:hover {
  background: #5051f9;
  color: #edecfe;
}

@media (max-width: 650px) {
  .app {
    gap: 2%;
    /* flex-direction: column-reverse; */
  }
  /* .logo {
    margin-bottom: 0;
  } */
  /* .habbit {
    flex-direction: column;
  }
  .habbit__form {
    flex-direction: column;
  } */
  /* .panel {
    display: none;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .progress {
    min-width: 130px;
  }
  .main {
    padding-top: 15px;
  }
  /* .menu {
    flex-wrap: wrap;

    flex-direction: row;
  }
  .menu__list {
    flex-wrap: wrap;

    flex-direction: row;
  } */
}
